.proyectos{
    background-image: url("../img/Foto_inversiones.jpg");
    background-repeat: no-repeat;
    background-size: cover; 
}

.inversiones{
    background-color: black;
    color: white;
    font-family: 'Roboto', sans-serif;
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
}